@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
}
@font-face {
  font-family: "Preahvihear";
  src: url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&display=swap");
}
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap");
}
.jakarta {
  font-family: "Plus Jakarta Sans";
}
.radialGradient {
  background-image: radial-gradient(circle, #746986, #696272);
}
.Poppins {
  font-family: Poppins;
}
.radialGradient2 {
  background-image: radial-gradient(circle, #ffffff, #676070);
}
